 <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #1266F1;">
        <a class="navbar-brand" href="{% url 'home' %}">Med Supplys</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
          </ul>
            &nbsp;
            &nbsp;
            &nbsp;
          <form action="/logout" method="POST">
            {% csrf_token %}
            <button type="submit" value="Logout">Log Out</button>
        </form>
        </div>
      </nav>